<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link  type="text/css" rel="stylesheet" href="/css/reset.css" />
<link  type="text/css" rel="stylesheet" href="/css/style.css" />
</head>

  <body id="labtop">
<div class="container-fluid">
  <%= render "common/navbar" %>
<div class="box">
	<!-- head start-->

    <!-- head finash-->

    <!-- main start--->
    <div class="main_w">

    <h1 style="color:#777; font-size:28px; font-weight:normal">空气污染对健康的危害</h1>
    	<div class="health">
        	<div style="width:980px;float:left; background-color:#6788b1; ">
            	<div style="width:532px;height:328px;float:left;"><img src="/images/h1.png" /></div>
            	<div style="width:400px;height:228px;float:left; overflow:hidden; background-color:#6788b1; color:#fff; font-size:16px;
                padding:50px 20px 50px 20px;line-height:28px; ">如今，空气污染已经成为人们健康的致命杀手。 根据中华医学会的统计，城市人口患肺癌的几率是农村人口的两至三倍。空气污染俨然已经成为了国人健康的"最大隐患"。</div>
            </div>
            <div style="width:957px; margin-left:1px;float:left; margin-top:20px;margin-bottom:70px; font-size:16px; color:#777">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;空气中的污染物多种多样。但主要还是来自于工业生产中的碳排放：例如燃煤发电厂，炼钢厂和水泥厂；再有就是日常生活中的碳排放，例如汽车尾气和油烟。这些有害气体无时不刻不在通过呼吸系统进入我们身体的内循环。中国的煤炭的消耗量从2000年的14亿吨猛增到2012年的35亿吨，涨幅为达到150%，占世界总量的一半。每年，近90%的二氧化硫和近70%的二氧化氮是从这些燃煤厂，炼钢厂及水泥厂里排出的。而这些气体与空气污染有着密不可分的关系。<br /><br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据世界卫生组织和世界癌症研究机构的相关文献资料，空气污染中的悬浮微粒是对人类健康产生直接危害的物质，它们被列为第一类致癌物。当人们吸入空气中的这些微小的悬浮颗粒后，它们会顺着呼吸道深入我们的双肺和血液中，因此，未经过滤的带有这些微粒的空气可能会导致严重的健康问题：<br /><br />

-永久性基因突变<br />
-婴儿先天畸形<br />
-哮喘<br />
-心脏病<br />
-肺癌<br />
-过早死亡<br /><br />
人类的肉眼能够分辨的最小悬浮颗粒直径约为40微米。而类似这样的较大微粒一般能够被我们鼻腔内的绒毛和粘膜阻挡住。真正能够威胁我们健康的是那些直径小于10微米，无法被我们免疫系统的第一道防线有效抵抗的PM10。当这些微小的颗粒被人体吸入后，它们会潜入我们双肺最深的部位---支气管中，从而给肺部带来损伤甚至引发肺癌。
            </div>
            <div style="width:980px;float:left;margin-bottom:60px;background-color:#6788b1;">
            	<div style="float:left; width:467px;height:383px;"><img src="/images/h2.png" /></div>
                <div style="float:left; width:478px;height:383px; overflow:hidden;padding:10px 15px 10px 20px;background-color:#6788b1;color:#fff; font-size:16px;line-height:24px;">更小的悬浮微粒，也就是我们所熟悉的PM2.5是直径只有2.5微米或更小的颗粒。当它们悬浮于空气中时，会降低空气的透光性影响能见度，我们平常看到的霾正是由这种物质引起的。由于它微小的体积，这种颗粒可以深达我们肺部的呼吸膜，从而通过气体交换和血液循环扩散到人体的各个器官导致：动脉硬化、血管炎、心脏病等健康隐患。<br /><br />

研究表明，如果不受保护地暴露在浓度为5微克每立方米的污染环境中，仅一年的时间，人们罹患心脏病的几率就会增加13%。<br /><br />

直径小于0.1微米的超细小微粒对人体的危害更为严重。这些通过柴油的燃烧排放到大气中的颗粒一旦进人体内，便可自由通透细胞膜，深入细胞内部。它甚至可以影响到脑组织，给其带来类似于老年痴呆症的损伤。</div>
            </div>

        </div>

        <div class="health_w" style="color:#777;">
        	<h1 style="font-size:28px; color:#777; font-weight:normal">温馨小贴士</h1>
            <p style="font-size:16px; color:#777; padding-bottom:30px;">空气污染无处不在，虽然无法彻底避免，但我们应尽量控制暴露于污染环境中的时间；污染物一旦进入人体内就会产生沉积作用，对人体健康随时构成威胁，可谓后患无穷。以下温馨提示均摘自国内外各大出版物</p>
            <ul>
            	<li><b style="color:#58850C; padding-right:5px;">?</b>  每天查看空气污染指数后适量安排出行</li>
                <li><b style="color:#58850C; padding-right:5px;">?</b>    雾霾严重时尽量避免室外运动</li>
                <li><b style="color:#58850C; padding-right:5px;">?</b>    雾霾严重时应紧闭门窗，空气流通可"引霾入室"</li>
                <li><b style="color:#58850C; padding-right:5px;">?</b>   户外活动后及时沐浴，以便清理残留在皮肤和毛发上的污染物</li>
                <li><b style="color:#58850C; padding-right:5px;">?</b>    户外活动时应随时佩戴能有效阻挡PM2.5及更小雾霾颗粒的口罩</li>
                <li><b style="color:#58850C; padding-right:5px;">?</b>    避免室内吸烟，做饭时应全程打开抽油烟机</li>
                <li><b style="color:#58850C; padding-right:5px;">?</b>    最好能在卧室制备HEPA级空气净化器</li>
            </ul>
            <div class="health_b">
            	<img src="/images/h5.png" />
            </div>
        </div>    </div>    <!-- main finash--->

</div>
</div>

</body>
</html>
