<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="/todo/about.css" type="text/css"/>
        <link rel="stylesheet" href="http://www.muji.net/lab/zh-cn/lab.css" type="text/css"/>
        <link rel="stylesheet" href="http://www.muji.net/lab/zh-cn/cn.css" type="text/css"/>
        <link rel="start" href="http://www.muji.net/lab/zh-cn/" title="Home"/>
        <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="//www.muji.net/lab/atom.xml"/>
        <link rel="stylesheet" href="http://www.muji.net/lab/zh-cn/labtop.css" type="text/css"/>
        <script type="text/javascript" src="//www.muji.net/img/lab/common/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="http://www.muji.net/lab/zh-cn/common.js"></script>
        <link rel="stylesheet" type="text/css" href="//www.muji.net/js/fancybox/jquery.fancybox-1.3.1.css">
        <script src="//www.muji.net/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
        <!--[if IE]><script src="/js/lib/html5.js"></script><![endif]-->

        <title>关于防霾库</title>

        <script src="//assets.adobedtm.com/a6e9b8b912d51aecbc12256558ef49a48670b2e5/satelliteLib-9fa8fa56b87f6d219078e5bd7ee860df5977511f.js"></script>
    </head>

    <body id="labtop">

        <div id="main">

            <section id="mainCampaign">
                <div class="wrap">
                    <section id="newItem">
                        <div class="content">

                            <h1>关于防霾库</h1>

                            <p class="lead">为大家提供防霾一站式服务，防霾口罩、霾表、空气净化器，出售性价比最高、品质最高的产品。</p>

                            <div class="formLink">
                                <p>
                                    <a href="#" target="_blank">意見箱</a>
                                    「有“它”就好了」的商品提案，以及防霾库相关的改进意见，欢迎踊跃投稿。您投稿的内容将会作为我们今后商品开发的参考。谢谢.</p>
                            </div>

                        </div>

                        <div class="content">

                            <h1>关于我们</h1>

                            <p class="lead">elizchen 和 cococardry 是新生全栈营的学员，这是我们搭建的一个小而美的防霾购物网站。让大家自由呼吸。</p>

                            <div class="formLink">
                                <p>
                                    <a href="#" target="_blank">联系我们</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.content -->
                    </session>
                </div>
            </session>
        </div>

    </body>
</html>
