
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="keywords" content="Coffee Box"><meta name="description" content="Coffee Box">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Coffee Box 连咖啡</title>
    <link rel="stylesheet" href="css/lrtk.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.devrama.slider.js"></script>
    <script type="text/javascript" src="js/jquery.soChange.js"></script>
   <script type="text/javascript" src="js/super_slider.js"></script>
    <script type="text/javascript" src="js/jquery.scrollTo.js"></script>

    <style type="text/css">
        .example-animation {
            color: #FFF;
            font-size: 60px;
        }
    </style>
</head>
<body>
<!-- 代码 开始 -->
<div class="example-animation">
    <div data-lazy-background="images/banner1.png">
        <div data-pos="['70%', '50%', '70%', '35%']" data-duration="1700" data-effect="move"
             style="font-size: 40px;height: 40px; line-height: 40px; overflow: hidden; ">
            Coffee Box，从一杯咖啡开始。
        </div>
    </div>
    <div data-lazy-background="images/banner2.png">
        <div data-pos="['70%', '50%' ,'70%', '35%']" data-duration="1700" data-effect="move"
             style="font-size: 40px; height: 40px; line-height: 40px; overflow: hidden">
            微信下单，就近配送，方便快捷。
        </div>
    </div>
    <div data-lazy-background="images/banner3.png">
        <div data-pos="['70%', '50%', '70%', '35%']" data-duration="1700" data-effect="move"
             style="font-size: 40px; height: 40px; line-height: 40px; overflow: hidden">
            烈日酷暑，风寒雨雪，传递温馨服务。
        </div>
    </div>
    <div data-lazy-background="images/banner4.png">
        <div data-pos="['70%', '50%', '70%', '35%']" data-duration="1700" data-effect="move"
             style="font-size: 40px; height: 40px; line-height: 40px; overflow: hidden">
            品味新鲜，体验快捷，分享你的快乐。
        </div>
    </div>
</div>

<!-- 代码 结束 -->
<div class="content">

    <div class="nav">

        <img src="images/log.png">
        <ul>
            <div class="row"></div>
            <li><a class="nav_activity"> 活动信息</a></li>
            <li><a class="nav_coffee">咖啡饮品</a></li>
            <li><a class="nav_order">下单流程</a></li>
            <li><a class="nav_service">服务区域</a></li>
            <li><a class="nav_about">关于Coffee Box</a></li>
            <li><a class="nav_contact">联系我们</a></li>
        </ul>


    </div>

    <div class="main activity ">
        <div class="mianleft">
            <div class="top">
                <div class="t3leftcontent" style="color: #402d27; background: url(images/1.png) no-repeat center center; background-size: 100%;">
                    <h3>活动信息</h3>
                    <h4>
                        Information
                    </h4>
                </div>
            </div>
            <div class="bottom">

            </div>
        </div>

        <div class="mianright">
         <div class="focusBox" style="margin:0 auto">
			<ul class="pic">
					<li>
						<div class="loactionitem ta1 ">
                         <div class="top" style="background: url(images/co2.png) no-repeat center center; background-size: 100%"></div>
                         <div class="bottom">
                            <div class="location">
                               <div class="word">

                                  <h4>酷暑难挡  冰咖来袭</h4>

                                  <p>咖啡雪昔  单杯售价28元</p>

                                  <p> 冰焦糖拿铁  单杯售价31元</p>
                                  <p> 芒果雪昔  单杯售价28元</p>

                               </div>
                            </div>
                        </div>
                      </div>
					</li>
					<li>
						<div class="loactionitem ta2">
                    <div class="top"
                         style="background: url(images/co1.png) no-repeat center center; background-size: 100%"></div>
                    <div class="bottom">
                        <div class="location">
                            <div class="word">
                                <p> Coffee Box牵手戴军、李静</p>

                                <p> 压轴亮相极客公园2016创新大会</p>

                            </div>
                        </div>
                    </div>
                </div>
					</li>
					<li>
						<div class="loactionitem ta3">
                    <div class="top"
                         style="background: url(images/co3.png) no-repeat center center; background-size: 100%"></div>
                    <div class="bottom">
                        <div class="location">
                            <div class="word">
                                <p style="text-align:left;"><b>北京：</b>中关村店、金融街店、西二旗店、宣武门店、双井店</p>
                                <p style="text-align:left;"><b>上海：</b>弘基广场店、长泰广场店、正大广场店、武宁南路店、科技馆站店、汇暻广场店、上海湾店</p>
                                <p style="text-align:left;"><b>广州：</b>龙口西路店、中大店、江南中路店、荔枝湾店、科韵路店、芳村店、黄花岗店、北京路店</p>
                                <p style="margin-top:20px;">现已新增开通服务</p>


                                <p>服务时间：</p>

                                <p>周一至周六：09:00-17:30</p>

                            </div>
                        </div>
                    </div>
                </div>
					</li>

			</ul>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
			<ul class="hd">
				<li></li>
				<li></li>
				<li></li>

			</ul>
	 </div>
    </div>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>
	<script type="text/javascript">
		jQuery(".focusBox").slide({ mainCell:".pic",effect:"left", autoPlay:true, delayTime:300});
	</script>
    <script type="text/javascript" src="js/index.js"></script>

        <!--<div class="mianright " id="slide ">
            <div class="locationwreap ">
                <div class="loactionitem ta1 ">
                    <div class="top"
                         style="background: url(images/co2.png) no-repeat center center; background-size: 100%"></div>
                    <div class="bottom">
                        <div class="location">
                            <div class="word">

                                <h4>酷暑难挡  冰咖来袭</h4>

                                <p>咖啡雪昔  单杯售价28元</p>

                                <p> 冰焦糖拿铁  单杯售价31元</p>
                                <p> 芒果雪昔  单杯售价28元</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="loactionitem ta2">
                    <div class="top"
                         style="background: url(images/co1.png) no-repeat center center; background-size: 100%"></div>
                    <div class="bottom">
                        <div class="location">
                            <div class="word">
                                <p> Coffee Box牵手戴军、李静</p>

                                <p> 压轴亮相极客公园2016创新大会</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="loactionitem ta3">
                    <div class="top"
                         style="background: url(images/co3.png) no-repeat center center; background-size: 100%"></div>
                    <div class="bottom">
                        <div class="location">
                            <div class="word">
                                <p style="text-align:left;"><b>北京：</b>中关村店、金融街店、西二旗店、宣武门店、双井店</p>
                                <p style="text-align:left;"><b>上海：</b>弘基广场店、长泰广场店、正大广场店、武宁南路店、科技馆站店、汇暻广场店、上海湾店</p>
                                <p style="text-align:left;"><b>广州：</b>龙口西路店、中大店、江南中路店、荔枝湾店、科韵路店、芳村店、黄花岗店、北京路店</p>
                                <p style="margin-top:20px;">现已新增开通服务</p>


                                <p>服务时间：</p>

                                <p>周一至周六：09:00-17:30</p>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="selectrow" >
                <a href="javascript:;" class="prev1"></a>
                <a href="javascript:;" class="next1"></a>
            </div>
            <div class="location-index " >
                <ul>
                    <li class="down"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>-->
    </div>

    <div class="t1 coffee">
        <div class="t3leftcontent" style="color: #f6efed; background: url(images/2.png) no-repeat center center; background-size: 100%;">
            <h3>咖啡饮品</h3>
            <h4>
                Coffee Drink
            </h4>
        </div>
    </div>
    <div class="t2">
        <div class="t2left">
            <div class="top">
                <div class="cof">
                    <div class="nt">经典咖啡</div>
                    <span style="color:#402d27; font-size:12px; display:block; margin-top:5px;">美式／拿铁／摩卡</span>
                    <p class="cof1"> 总有那些人那些事，虽历经沧桑，唯钟情经典。</p>

                    <p>不忘初心，方得始终，</p>

                    <p>可能活着，是一种修行，</p>

                    <p>而每一杯经典咖啡，都会是你修行途中，心灵的停机坪。</p>
                </div>
            </div>
            <div class="bottom">
                <div class="cof h2">
                    <div class="nt">雪昔</div>
                     <span style="color:#402d27; font-size:12px; display:block; margin-top:5px;">咖啡雪昔／焦糖咖啡雪昔／摩卡奥利奥雪昔／抹茶雪昔／芒果雪昔</span>
                    <p class="cof1"> "连雨不知春去，一晴方觉夏深"</p>

                    <p> 却有耳语呢喃：</p>

                    <p>"你尝过雪的味道么？"</p>

                    <p>凉凉的，一下子就能透到心里。</p>

                </div>
            </div>
        </div>
        <div class="t2right">
            <div class="top">
                <div class="cof h1">
                    <div class="nt">风味拿铁</div>
                    <span style="color:#402d27; font-size:12px; display:block; margin-top:5px;">焦糖拿铁／香草拿铁／爱尔兰橙香拿铁／太妃榛果拿铁</span>
                    <p class="cof1">1份浓醇、7份丝滑或许还缺2份感觉……</p>

                    <p>这里你会邂逅各种风情的咖啡，</p>

                    <p>而你又是否是那个驻足的人？</p>

                    <p>让懂你的咖啡来体味你此时的心情。</p>

                </div>
            </div>
            <div class="bottom">
                <div class="cof h3">
                    <div class="nt">饮品</div>
                     <span style="color:#402d27; font-size:12px; display:block; margin-top:5px;">热巧克力／抹茶拿铁</span>
                    <p class="cof1">给自己一分钟聆听生命的慢摇，</p>

                    <p>没有心悸，也不用担心失眠，</p>

                    <p> 只有如恒河般亘古的传情达意，</p>
                    <p>与你一起享受生活的纯粹。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="t3 order">
        <div class="t3left">
            <div class="t3leftcontent">
               <h3>下单流程</h3>
                <h4>
                    Shopping Process
                </h4>
            </div>
        </div>
        <div class="t3right">
            <div class="wei">
                <p class="wei1">搜索添加微信公众号：连咖啡微服务（LyanCafe）或直接扫描上面二维码</p>

                <p> 点击左下方"订咖啡"菜单</p>
            </div>
        </div>
    </div>
    <div class="t4">
        <ul>
            <li>
                <p class="p1">微信扫码</p>

                <p>Scan WeChat Code</p>
            </li>
            <li>
                <p class="p1">自助下单</p>

                <p>Create Order</p>
            </li>
            <li>
                <p class="p1">微信支付</p>

                <p>WeChat Payment</p>
            </li>
            <li>
                <p class="p1">咖啡配送</p>

                <p>Coffee Distribution</p>
            </li>
            <li>
                <p class="p1">签收确认</p>

                <p>Confirm</p>
            </li>
            <li class="over">
                <p class="p1">评价分享</p>

                <p>Evaluation and Share</p>
            </li>
        </ul>
    </div>
    <div class="f5 service">
        <div class="area">
            <p class="ptitle">服务区域</p>

            <p>Service Area</p>
        </div>
        <div class="ser_p" style="width:666px;">
            <p> 北京：中关村，西单，金融街，宣武门，望京，三元桥，亮马桥，三里屯，朝阳门，团结湖，呼家楼，四惠，八里庄，双井，劲松，西二旗，上地</p>

            <p >
               上海：黄浦区，静安区，虹口区，徐家汇区，长宁区，五角场，漕河泾开发区，陆家嘴，塘桥，浦东大道，上海科技馆，金桥，张江
            </p>

            <p>广州：海珠区，荔湾区，越秀区，天河区；白云区部分区域 </p>

        </div>
        <div class="f5date">
            服务时间：周一至周六 09:00-17:30
        </div>
    </div>
    <div class="f6 about">
        <div class="f6left">
          <div class="fk">
              <h5>关于Coffee Box</h5>
              <p>
                  About Coffee Box
              </p>
          </div>
        </div>
        <div class="f6right">
            <img src="images/bei.png" class="f6img">

            <div class="f6right_word">
                <p>Coffee Box，在你最需要的时刻，最适合的场所，从一杯咖啡开始。</p>

                <p>无论大街还是小巷，烈日还是寒风，职场还是社区，</p>

                <p> 由我们来分担你的需求，节约你的时间，分享你的快乐，连结你的真诚。</p>

                <div class="hr1"></div>
                <p>传承咖啡文化，传递温暖服务，传播时尚资讯，传送美味咖啡。</p>

                <p> Coffee Box，从一杯咖啡开始。</p>
            </div>
        </div>
    </div>
    <div class="f7 contact">
        <div class="f7_content">
            <p>上海连隽商务咨询有限公司</p>

            <p> 电话：021-33565800 传真：021-33565900</p>

            <p>上海市徐汇区古美路1515号19号楼 凤凰大厦1805室</p>
        </div>
    </div>
    <div class="foot">
        <p>沪ICP备16008688号-1   &nbsp;&nbsp;&nbsp;&nbsp;
© Copyright 2015. Coffee Box.<a style="color:#000;" href="http://www.alsovalue.com/" target="_blank">All rights reserved.</a></p>
    </div>
</div>
</body>
</html>
