<footer class="indoor-page" style="height: 168px;">
    <a href="/" target="_blank">
                    <img src="/images/air-logo.png" alt="空气果"/>
                </a>

                <p>Copyright &copy;&nbsp; Design by elizachen & cococardry</p>
                <p>© 防霾库（上海）商业有限公司 地址：上海市静安区灵石路695号3号楼1楼</p>
                <p>沪ICP备08018XXX号&nbsp;&nbsp;</p><script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                </script></footer>
