<footer>

    <nav id="footerNav">

        <section class="footerNav1">
            <ul>

                <li>
                    <a href="/cn/store/?area=footer" target="_self">网络商城</a>
                </li>

                <li>
                    <a href="http://www.muji.com/storelocator/?c=cn" target="_self">店铺信息</a>
                </li>

                <li>
                    <a href="http://www.muji.net/lab/zh-cn/?area=footer" target="_self">关于我们</a>
                </li>

            </ul>
        </section>

        <section class="footerNav2">
            <ul>

                <li>
                    <a href="/cn/store/contents/catalog/?area=footer" target="_self">商品目录</a>
                </li>

            </ul>
        </section>

        <section class="footerNav3">
            <ul>

                <li>
                    <a href="/cn/store/contents/contact/faq/?area=footer" target="_self">问题咨询</a>
                </li>

                <li>
                    <a href="/cn/store/contents/corporate/partner.jsp" target="_self">店铺合作伙伴</a>
                </li>

                <li>
                    <a href="http://www.muji.com/cn/message/" target="_self">SHENQIKU message</a>
                </li>
            </ul>
        </section>

        <section class="footerNav4">
            <ul>

                <li class="country">
                    <a href="http://www.muji.com/?area=footer" target="_self"><img src="/images/flag_cn.png" alt="">中国</a>
                </li>

            </ul>
        </section>

    </nav>

    <p id="copyright">
        <span class="copyright">
            <small>&copy;&nbsp; Design by elizachen & wenxuan</small>
        </span>
    </p>
    <nav class="another">
        <ul>
            <li>
                <span target="_self">
                    <small>© 神器库（上海）商业有限公司 地址：上海市静安区灵石路695号3号楼1楼</small>
                </span>
            </li>

            <li>
                <a href="http://www.miibeian.gov.cn/" target="_self">
                    <small>沪ICP备08018XXX号</small>
                </a>
            </li>

            <li>
                <span target="_self">
                    <small></small>
                </span>
            </li>

        </ul>
    </nav>
</footer>
